<div><%= flash[:notice] %></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h4>マイページ</h4>

      <h5>登録情報
        <%= link_to '編集する', customers_edit_path, class: "btn btn-success mb-2 btn-sm" %>
      </h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th class="table-secondary w-25">氏名</th>
              <td><%= @customer.first_name %><%= @customer.last_name %> </td>
            </tr>
            <tr>
              <th class="table-secondary">カナ</th>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
            </tr>
            <tr>
              <th class="table-secondary">郵便番号</th>
              <td><%= @customer.post_code %></td>
            </tr>
            <tr>
              <th class="table-secondary">住所</th>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <th class="table-secondary">メールアドレス</th>
              <td><%= @customer.email %></td>
            </tr>
          </table>
        </div>
          <h5>配送先 <%= link_to '一覧表示', addresses_path, class: "btn btn-info  btn-sm" %></h5><br>
          <h5>注文履歴 <%= link_to '一覧表示', orders_path, class: "btn btn-info btn-sm mb-2" %></h5>

     </div>
    <div class="col-md-2"></div>
  </div>
</div>
