
<h1>ショッピングカート</h1>

<!--カートを空にするボタン-->
<%= link_to cart_items_destroy_all_path, method: :delete do %>
    <button type="button" class="btn btn-danger text-light">カートを空にする</button>
<% end %>

<table class = "table">
　  <thead>
　    <tr>
　      <th>商品名</th>
　      <th>単価(税込)</th>
　      <th>数量</th>
　      <th>小計</th>
　      <th></th>　<!--削除するボタン用-->
　    </tr>
　  </thead>

　  <tbody>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td><%= cart_item.item.name %></td> <!--商品名-->
                <td><%= cart_item.item.with_tax_price%></td> <!--単価(税込)-->
                <td><%= cart_item.amount %></td> <!--数量-->
                <td>
                    <%= form_with model:cart_item, url:cart_item_path(cart_item.id) , local:true do |f| %>
                        <%= f.select :amount, *[1..10] %>
                        <%= f.submit "変更" , class: "btn btn-success" %>
                    <% end %>
                </td>
                <td><%= cart_item.subtotal%></td> <!--小計-->
                <td>
                    <%= link_to cart_item_path(cart_item.id), method: :delete do %>
                        <button type="button" class="btn btn-danger text-light">削除する</button><!--削除ボタン-->
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div>合計金額 <%= @total %></div>

<%= link_to items_path, method: :delete do %>
    <button type="button" class="btn-primary text-light">買い物を続ける</button>
<% end %>

<%= link_to items_path do %>
    <button type="button" class="btn-success text-light">情報入力に進む</button>
<% end %>

<!--<render 'index',cart_items: @cart_items %>-->


     <!--買い物を続ける(Topぺージに移動)-->
　 　<!--合計金額(小計の合計)-->
     <!--情報入力に進む(注文情報入力画面に移動)-->

