
<div class="container">
      <div class = "row">
        <div class="col-12 ">
            <h4>ショッピングカート</h4>
            <div class = "text-right">
                <%= link_to cart_items_destroy_all_path, method: :delete do %>
                        <button type="button" class="btn btn-danger text-light">カートを空にする</button>
                <% end %>
            </div>

            <table class = "table">
            　  <thead>
            　   <tr class = "table border border-dark">
                   <th>商品名</th>
                   <th>単価(税込)</th>
                   <th>数量</th>
                   <th>小計</th>
                   <th></th>　<!--削除するボタン用-->
            　    </tr>
            　  </thead>

            　  <tbody>
                    <% @cart_items.each do |cart_item| %>
                        <tr>
                            <td> <%= image_tag cart_item.item.get_item_image(100,100) %><!--商品画像--></td>
                            <td> <%= cart_item.item.name %><!--商品名--> </td>
                            <td><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',')%></td> <!--単価(税込)-->
                            <td>
                                <%= form_with model:cart_item, url:cart_item_path(cart_item.id) , local:true do |f| %>
                                    <%= f.select :amount, *[1..10] %>
                                    <%= f.submit "変更" , class: "btn btn-success" %>
                                <% end %>
                            </td>
                            <td><%= cart_item.subtotal.to_s(:delimited, delimiter: ',')%></td> <!--小計-->
                            <td>
                                <%= link_to cart_item_path(cart_item.id), method: :delete do %>
                                    <button type="button" class="btn btn-danger text-light">削除する</button><!--削除ボタン-->
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

            <div class = "text-right">
                合計金額 <%= @total.to_s(:delimited, delimiter: ',') %>
            </div>

            <%= link_to root_path do %>
                 <div class = "text-left">
                    <button type="button" class="btn-primary text-light">買い物を続ける</button>
                </div>
            <% end %>

            <%= link_to new_order_path do %>
                <div class = "text-center">
                    <button type="button" class="btn-success text-light">情報入力に進む</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
