<div class="container mt-5">
  <div class = "row", style="justify-content:center">
    <div class="col-md-3">
      <%= render 'public/searches/genre', genres: @genres %>
    </div>
    <div class="col-9">
      <div>
        <h4>商品一覧
          <span class="item_counts", style="font-size:20px">(全<%= @item_counts %>件)</span>
        </h4>
      </div>
      
      
      <div class = "container">
        <div class = "row">
        <% @items.each do |item| %>
          <div class="col-3">
            <div class="item-image">
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_item_image(200,200) %> <!--画像の表示-->
              <% end %>
              <div class="item">
                <%= link_to item_path(item) do %>
                  <%= item.name %></br><!--商品名の表示-->
                <% end %>
                ¥<%= item.price %>円 <!--値段の表示-->
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>